/*//////////////////////////////////////////////////////////
BUTTON ------------------------------------------------
//////////////////////////////////////////////////////////*/
.btn {
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background: var(--color-background-tertiary);
  padding: 16px;
  color: var(--color-content-primary);
  font: var(--font-label-medium);
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  margin-bottom: 40px;
  border: 2px solid transparent;
}

.btn:hover {
  border: 2px solid transparent;
  background-image:
    linear-gradient(var(--color-background-secondary), var(--color-background-secondary)), /* fundo real do botão */
    var(--color-gradient-border);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn:active {
  background-image:
    linear-gradient(var(--color-background-primary), var(--color-background-primary)), /* fundo real do botão */
    var(--color-gradient-border);
}