/*//////////////////////////////////////////////////////////
INPUT ------------------------------------------------------
//////////////////////////////////////////////////////////*/
input[type="number"] {
  appearance: none;             /* para navegadores modernos */
  -webkit-appearance: none;     /* Safari/Chrome */
  -moz-appearance: textfield;   /* Firefox */
  width: 100%;
  padding: 8px 4px;
  background: var(--color-background-secondary);
  border: 2px solid transparent;
  border-radius: 8px;
  font: var(--font-display-small);
  font-size: clamp(var(--fs-300), 5vw, var(--fs-500));
  color: var(--color-content-primary);
  text-align: center;
  min-height: 48px;
}

/* Remove os spinners no Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilização do focus com borda em degradê */
input[type="number"]:focus {
  border: 2px solid transparent;
  background-image:
    linear-gradient(var(--color-background-tertiary), var(--color-background-tertiary)),
    var(--color-gradient-border);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  outline: transparent;
}