/*//////////////////////////////////////////////////////////
FORM -------------------------------------------------------
//////////////////////////////////////////////////////////*/
form {
  display: grid;
  gap: 20px;
}

.form__fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  text-align: center;
  gap: 12px;
}

.input-wrapper {
  display: grid;
  gap: 8px;
  width: 100%;
}