/*//////////////////////////////////////////////////////////
HEADER -----------------------------------------------------
//////////////////////////////////////////////////////////*/
.main__header {
  display: grid;
  gap: 0.75rem;
  width: 100%;
  max-width: 31.75rem;
  grid-area: header;
}

.main__header-tagline {
  font: var(--font-overline);
  text-transform: uppercase;
  background-image: var(--color-gradient-content);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-content-primary);
}

.main__header-heading {
  font: var(--font-display-large);
  text-transform: uppercase;
  font-size: clamp(var(--fs-500), 5vw, var(--fs-700));
  margin-bottom: 2rem;
  color: var(--color-content-primary);
  white-space: nowrap;
  word-break: break-word;
  max-width: 100%;
  /* margin-right: 1.5rem; */
}