/*//////////////////////////////////////////////////////////
SECTION 2 --------------------------------------------------
//////////////////////////////////////////////////////////*/
.main__section-2 {
  display: grid;
  align-items: center;
}

.section-2__container {
  display: grid;
  gap: 2.5rem;
}

.section-2__text {
  max-width: 25rem;
}